public hoist pattern[]=@vue/runtime core
# 自动安装依赖的 peer dependencies
# auto-install-peers = true

# package-lock=false

package-manager-strict=false

link-workspace-packages=true

# 不严格检查 peer dependencies
strict-peer-dependencies=false

# 允许不按常规方式安装依赖，以解决某些包管理器的问题
shamefully-hoist=true

# 忽略工作空间根目录的检查，以支持在根目录下运行 npm
ignore-workspace-root-check=true

# 使用一个轻量级的 shell 模拟器，以改善在某些环境下的命令行体验
shell-emulator=true

# 指定使用哪个 npm 注册表
registry=https://registry.npmmirror.com/

# 指定 Electron 下载镜像地址
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# 指定 Electron 构建二进制文件的镜像地址
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

